.main-content{
    margin-top: 158px;
    flex: 1 1 auto;
    height: fit-content;
    background-image: url(home-specials-background.png), -webkit-radial-gradient(#e8e8e8 2px, transparent 2px), -webkit-radial-gradient(#e8e8e8 2px, transparent 2px) !important;
    background-image: url(home-specials-background.png), radial-gradient(#e8e8e8 2px, transparent 2px), radial-gradient(#e8e8e8 2px, transparent 2px) !important;
    background-position: bottom left, 0 0, 8px 8px;
    background-size: auto, 16px 16px, 16px 16px;
    background-repeat: no-repeat, repeat, repeat;
    &__slider{
        &-item{
            height: 50%;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    &__special{
        width: 100%;
        margin: 10% 0;
        &-header{
            display: flex;
            justify-content: space-between;
            &-controlls{
                &-link{
                   text-decoration: underline;
                }
            }
        }
        &-title{
            color: #fd0202;
            font-family: "Edu AU VIC WA NT Pre", cursive;
            font-weight: 500;
            font-size: 30px;
        }
        &-slider{
            margin: 3% 0;
        }
        &-card{
            background-color: #ffffff;
            max-width: 292px;
            -webkit-box-shadow: 0 1px 4px 0 #00000040;
            box-shadow: 0 1px 4px 0 #00000040;
            border-radius: 5px;
            &-content{
                padding: 40px;
                img{
                    margin: auto;
                }
                &-desc{
                    font-family: 'RagSans', 'Open Sans', 'Open Sans Hebrew';
                    &-title{
                        color: #000000;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    &-btn{
                        text-align: center;
                        color: #e15856;
                        background-color: #FFEBEB;
                        padding: 10px;
                        margin: 15px 0;
                    }
                    &-sub{
                        position: relative;
                        top: 20px;
                        font-size: 12px;
                        padding: 10px 0;
                        border-top: 1px dashed #000000 ;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 615px){
   .main-content{
    &__special{
        min-height: 70vh;
        &-title{
            font-size: 20px;
        }
        &-header{
            &-controlls{
                &-link{
                    font-size: 15px;
                }
            }
        }
    }
   }
}
@media screen and (max-width: 960px){
    .main-content{
        height: 245vh;
    }
 }
 @media screen and (max-width: 860px){
    .main-content{
        height: 235vh;
    }
 }
 @media screen and (max-width: 600px){
    .main-content{
        height: 220vh;
    }
 }
 @media screen and (max-width: 460px){
    .main-content{
        height: 200vh;
    }
 }
 @media screen and (max-width: 400px){
    .main-content{
        &-special{
            &-title{
                font-size: 16px;
            }
            &-header{
                &-controlls{
                    &-link{
                       font-size: 12px;
                    }
                }
            }
        }
    }
 }